/custom-rhino-js-5.1.0.jar
/jackson-annotations-2.9.5.jar
/jackson-core-2.9.5.jar
/jackson-databind-2.9.5.jar
/jackson-dataformat-smile-2.9.5.jar
/joda-time-2.9.4.jar
/logback-classic-1.2.3.jar
/logback-core-1.2.3.jar
/slf4j-api-1.7.25.jar
/thingworx-communications-client-8.3.0-b349.jar
/thingworx-communications-server-8.3.0-b349.jar
/thingworx-ext-sdk-8.3.0-b349.jar
/thingworx-javadocs-8.3.0-b349.jar
